.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

.nav__black{
  background-color: #111;
}

.nav__logo{
  position: fixed;
  margin-top: -10px;
  left: 10;
  width: 100px;
  object-fit: contain;
}

.nav__avatar{
  position: fixed;
  right: 30px;
  width: 50px;
  object-fit: contain;
}